# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# **Objectives**:
- List popular languages of data science
- Indicate development environment open source tools used in data science.
- Evaluating arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Julia

# Some of the commonly used libraries by data scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib
5. Keras


| Data Science Tools |
|--------------------|
|Jupyter notebook    |
|RStudio             |
|Apache Spark        |

### Below are a few examples of evaluating arithmetic expressions in python:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Combining Multiple Operations

In [7]:
# This a simple arithmetic expression to mutiply then add integers
Result= (3*4)+5
Result

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Jordan Kitaka Mubiru